* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body { 
    font: 13px Helvetica, Arial;
}

.messageForm { 
    position: fixed; 
    margin-top: 10%;
    bottom: 0; 
    min-width: 100%; 
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageForm input { 
    border-top: 1px solid #2b2b2b; 
    border-bottom: 1px solid #2b2b2b; 
    padding: 2em; 
    width: 80%;
}

.messageForm button { 
    font-size: 1em;
    font-weight: 900;
    width: 20%; 
    background-image: linear-gradient(60deg, #FF9671 , #FF6F91); 
    border: none; 
    padding: 1.75em; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5em;
}

#messages .username {
    position: relative;
    margin-top: 1em;
    width: 98%;
    font-weight: 900;
    color: #2b2b2b;
}

#messages .time {
    width: 98%;
    font-weight: 700;
    color: #969696;
    text-align: center;
}

#messages li { 
    display: block;
    font-weight: 600;
    font-size: 1.5em;
    padding: 1em 2em; 
    border-radius: .25em;
    margin-top: .75em;
    margin-bottom: .5em;
}

#messages .other { 
    background-image: linear-gradient(140deg, #FFC75F, #F9F871);
    color: #000;
    text-align: left;
}

#messages .self { 
    background-image: linear-gradient(140deg, #D65DB1, #845EC2);
    color: #000;
    text-align: right;
}

.usernameForm {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, .9);
    overflow: hidden;
    z-index: 5; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.usernameForm label {
    font-size: 2em;
    margin: 1em;
}

.usernameForm input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    padding-bottom: 1em;
    text-align: center;
    width: 400px;
    color: rgb(168, 223, 255);
    font-size: 1.5em;
}
