<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Real time chat app">
<!-- <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#a6bedd"> -->
<link rel="stylesheet" href="/css/index.css">
<title>Real time chat app</title>