<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../components/head %>
</head>
<body>

    <form class="usernameForm">
        <label for='usernameInput' class="title">What's your nickname?</label>
        <input id='usernameInput' class="usernameInput" type="text" maxlength="14" />
    </form>

    <ul id="messages"></ul>

    <form class="messageForm" action="">
        <input id="message" autocomplete="off" />
        <button>Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>