<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/index.css">
    <title>Animal crossing X Twitter</title>
</head>
<body>
        <form action="/game">
            <fieldset>
                <legend>Pick your avatar</legend>
                <label for="">
                    Give it a nickname
                    <input type="text">
                </label>

                <button type="submit">Rhino</button>
                <button type="submit">Tiger</button>
            </fieldset>
        </form>
</body>
</html>